* {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, sans-serif;
}

.infor-user .label {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infor-user .label p {
    font-size: 50px;
    text-transform: uppercase;
}

.infor-user .label .crossbar {
    width: 100px;
    height: 8px;
    background: brown;
    margin-top: 20px;
}

.infor-user .information-acc {
    margin-top: 40px;
}

.infor-user .information-acc .list-menu {
    margin: 30px;
    font-size: 18px;
    width: 25%;
}

.infor-user .information-acc .list-menu p {
    margin-bottom: 30px;
}

.infor-user .information-acc .list-menu .item{
    margin: 15px 15px 15px 0px;
    list-style: none;
}
.infor-user .information-acc .list-menu a:hover{
    color: rgba(19, 86, 138, 0.8);
}

.infor-user .information-acc {
    display: flex;
    flex-direction: row;
}

.infor-user .information-acc .information-details {
    margin: 30px;
    font-size: 18px;
    width: 75%;
}

.infor-user .information-acc .information-details .display {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

