<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="style.css">
  <title>Dịch vụ đổi trả 7 ngày</title>
</head>

<body>
  <header>
    <div class="content">
      <h2>Đổi trả miễn phí</h2>
      <p class="text2">trong vòng 7 ngày</p>
    </div>
  </header>
  <div class="container">
    <div class="text">
      <h2 class="text1" style="margin-bottom: 15px;">Đối với những sản phẩm bạn đã mua tại BHD Boutique</h2>
      <p class="text2">Với những sản phẩm bạn đã mua tại BHD Boutique, 7 ngày kể từ khi bạn nhận sản phẩm thì bạn sẽ
        được đổi hàng và trả
        hàng với bất kỳ lý do gì, bao gồm cả các sản phẩm đã qua giặt và sử dụng. </p>
      <p class="text3">Một số lưu ý:</p>
      <div class="note">
        <li class="note1"></i>BHD Boutique sẽ không áp dụng đổi trả với 1 số dòng sản phẩm nhất định như: Outlet, Áo in theo
          yêu cầu, Sản phẩm
          Săn Deal vì các sản phẩm này thường sẽ không về lại. Tuy nhiên nếu như mà các bạn thực sự cần hỗ trợ thì cứ
          thử
          gửi yêu cầu cho BHD Boutique xem sao nhé! </li>
        <li class="note2"></i>Nếu các bạn mua sản phẩm ở các sàn TMĐT, thì BHD Boutique sẽ áp dụng trước chính sách đổi/trả
          của sàn TMĐT, nếu quá
          hạn của sàn TMĐT thì bạn có thể yêu cầu hỗ trợ từ BHD Boutique trực tiếp!</li>
      </div>
      <div class="btn">
        <button>Đồng ý đổi/trả hàng</button>
      </div>
    </div>
    <div class="image">
      <img src="img/ảnh minh họa 1.jpg" alt="">
    </div>
  </div>
  <hr>
  <div class="container2">
    <div class="image">
      <img src="img/ảnh minh họa 2.jpg" alt="">
    </div>
    <div class="text">
      <div class="text1">
        <h2>Đối với việc trả hàng</h2>
        <p>Chúng tôi sẽ hoàn lại số tiền hàng (sau khi đã trừ 25.000 VNĐ phí ship hàng) vào tài khoản mà bạn cung cấp
          tối
          đa trong 24h làm việc (không tính thứ 7 & Chủ Nhật) sau khi yêu cầu hoàn tiền được xác nhận. </p>
      </div>
      <div class="text2">
        <h2>Lưu ý</h2>
        <p>
          <li></i>BHD Boutique hỗ trợ đổi tối đa 3 lần/1 khách hàng.</li>
        </p>
        <p>
          <li></i>BHD Boutique có quyền quyết định dừng việc hỗ trợ đổi trả và trả lại tiền cho khách hàng nếu phát hiện
            khách
            hàng sử dụng chính sách để trục lợi (như việc đổi quá nhiều lần). </li>
        </p>
      </div>
      <div class="text3">
        <h2>Chúng tôi làm gì với hàng đổi trả</h2>
        <p>
          <li></i>Áo thun, quần short: thu gom và gởi cho các chương trình từ thiện </li>
        </p>
        <p>
          
        </p>
      </div>
    </div>
  </div>
</body>

</html>