@media screen and (min-width: 1025px) {
    /* CSS rules for screens larger than 1024px */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift, sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(198, 225, 246, 0.8), rgba(251, 214, 227, 0.8));
}


.ProductArea {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 20%;
}
.newProductArea, .ProductAreaOfShop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.newProductArea{
    position: relative;
}
.titleProduct {
    font-size: 40px;
    font-weight: bold;
    color: brown;
}
.listItemProduct {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 2%; 
    column-gap: 2%;
    margin-top: 3%;
    position: relative;
    overflow: hidden;
}
.ProductAreaOfShop{
    margin-top: 10%;
    position: relative;
}
.ProductAreaOfShop > .titleProduct{
    position: absolute;
    left: 35px;
    top: -30px;
    
}
.seenAll {
    position: absolute;
    right: 35px;
    top: -30px;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}