* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #FFDEDCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    color: #ff8080;
    text-transform: uppercase;
}

#container {
    background-color: rgb(255, 255, 255);
    width: 25%;
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #FF8080FF;
}

.center {
    display: flex;
    justify-content: center;
    margin: 15px 20px;
}

.center > input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #FF8080FF;
}

.button {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button > input {
    width: 50%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #FF8080FF;
    background-color: #ff8080ff;
    color: white;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.footer > p {
    text-transform: none;
}

.footer > a {
    text-decoration: none;
    color: #7c3d25;
}