* {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(198, 225, 246, 0.5), rgba(251, 214, 227, 0.5));
}

.logo {
    background: rgba(251, 192, 195, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ff8080;
    cursor: pointer;
}

.logo > img {
    width: 80px;
    height: 80px;
}

.logo > h3 {
    color: #a62c2c;
}

.bar {
    display: flex;
    flex-direction: column;
    background: rgba(251, 192, 195, 0.8);
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ff8080;
    border-bottom: 2px solid #ff8080;
}

.logo_admin {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    border-radius: 50%;
    justify-content: center;
}

.logo_admin > h2 {
    color: #a62c2c;
}

.fa-lock {
    font-size: 20px;
}

.button_add_product {

}

a > button {
    padding: 10px;
    border-radius: 20px;
    background-color: #a62c2c;
    color: white;
    border: 2px solid #a62c2c;
    margin: 10px 0px;
    cursor: pointer;
}

button:hover {
    color: #ff8080;
}

.menu_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 15px 0px;
}

.item {
    color: #a62c2c;
    padding: 15px;
    border-top: 1px solid #ff8080;
    cursor: pointer;
}

.item > a {
    color: #a62c2c;
    text-decoration: none;
}

.item:hover {
    border: 2px solid #a62c2c;
    border-radius: 20px;
    color: white !important;
    background-color: #a62c2c;
}

.item.active {
    border: 2px solid #a62c2c;
    border-radius: 20px;
    color: white !important;
    background-color: #a62c2c;
}

.button_logout {
    margin-bottom: 100%;
}

.center {
    display: flex;
}

.left_panel {
    width: 18%;
}

.info_panel {
    width: 82%;
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
}

#panel2 {
    display: flex;
    flex-direction: column;
}

.sanpham {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#panel1 {
    display: none;
}

#panel2 {
    display: none;
}

.thongke_panel {
    width: 100%;
}

.thongke_main {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.thongke {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff8080;
    border-radius: 5px;
    position: relative;
    padding: 20px 0px;
}

h2 {
    color: #a62c2c;
}

h3 {
    color: #a62c2c;
}

.thongke > .fa-solid {
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 20px;
}

.temp {
    width: 100px;
    height: 3px;
    background: rgba(255, 128, 128, 0.5);
    margin: 10px 0px;
}

#chart {
    background: rgba(255, 128, 128, 0.5);
    border-radius: 10px;
}

#canvas {
    width: 80%;
}

.info_panel .add-product {
    display: flex;
    flex-direction: column;
    border: 2px solid #a62c2c;
    border-radius: 10px;
    padding: 10px;
}

.info_panel .add-product .label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 25px;
    background: rgba(251, 192, 195, 0.8);
    padding: 20px 50px;
    border-radius: 20px;
}

.info_panel .add-product .add-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin: 20px 0;
}

/*.info_panel .add-product .add-picture .add-picture-sub{*/
/*    width: 200px;*/
/*    height: 300px;*/
/*    border-radius: 10px;*/
/*    border:1px solid #a62c2c;*/
/*    !*margin: 0px 20px;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

::selection{
    color: #fff;
    background: rgba(251, 192, 195, 0.8);
}
.wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}

.wrapper form{
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #a62c2c;
}
form :where(i, p){
    color: #6990F2;
}
form i{
    font-size: 50px;
}
form p{
    margin-top: 15px;
    font-size: 16px;
}
section .row{
    margin-bottom: 10px;
    background: rgba(255, 128, 128, 0.5);
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .row i{
    color: #6990F2;
    font-size: 30px;
}
section .details span{
    font-size: 14px;
}
.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}
.progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}
.progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}
.content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
}
.uploaded-area{
    max-height: 232px;
    overflow-y: scroll;
}
.uploaded-area.onprogress{
    max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}
.uploaded-area .row .content{
    display: flex;
    align-items: center;
}
.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.uploaded-area .row .details .size{
    color: #404040;
    font-size: 11px;
}
.uploaded-area i.fa-check{
    font-size: 16px;
}

.info_panel .add-product .add-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info_panel .add-product .add-name .name-price input{
    padding: 20px;
    border-radius: 10px;
    border:1px solid #a62c2c;
    width: 300px;
    font-size: 20px;
    margin-right: 20px;
}

/* styles.css */

/*#colorPalette {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*    gap: 10px;*/
/*}*/

/*.colorBox {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*}*/

.wrapper-describe {
    margin-top: 20px;
    width: 100%;
    background: rgba(251, 192, 195, 0.8);
    border-radius: 10px;
    padding: 25px 25px 30px;
}

.wrapper-describe textarea {
    width: 100%;
    height: 59px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-color: #bfbfbf;
    margin-top: 20px;
}

textarea:is(:focus, :valid) {
    border-width: 2px;
    padding: 14px;
    background: white;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.add-product .footer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.add-product .footer button {
    width: 200px;
    height: 50px;
    background: #a62c2c;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: ;
}

/* .add-product .footer button:hover {
    color: ;
} */

