* {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(198, 225, 246, 0.5), rgba(251, 214, 227, 0.5));
}

.logo {
    background: rgba(251, 192, 195, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ff8080;
    cursor: pointer;
}

.logo > img {
    width: 80px;
    height: 80px;
}

.logo > h3 {
    color: #a62c2c;
}

.bar {
    display: flex;
    flex-direction: column;
    background: rgba(251, 192, 195, 0.8);
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ff8080;
    border-bottom: 2px solid #ff8080;
}

.logo_admin {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    border-radius: 50%;
    justify-content: center;
}

.logo_admin > h2 {
    color: #a62c2c;
}

.fa-lock {
    font-size: 20px;
}

.button_add_product {

}

a > button {
    padding: 10px;
    border-radius: 20px;
    background-color: #a62c2c;
    color: white;
    border: 2px solid #a62c2c;
    margin: 10px 0px;
    cursor: pointer;
}

button:hover {
    color: #ff8080;
}

.menu_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 15px 0px;
}

.item {
    color: #a62c2c;
    padding: 15px;
    border-top: 1px solid #ff8080;
    cursor: pointer;
}

.item > a {
    color: #a62c2c;
    text-decoration: none;
}

.item:hover {
    border: 2px solid #a62c2c;
    border-radius: 20px;
    color: white !important;
    background-color: #a62c2c;
}

.item.active {
    border: 2px solid #a62c2c;
    border-radius: 20px;
    color: white !important;
    background-color: #a62c2c;
}

.button_logout {
    margin-bottom: 100%;
}

.center {
    display: flex;
}

.left_panel {
    width: 18%;
}

.info_panel {
    width: 82%;
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
}

#panel2 {
    display: flex;
    flex-direction: column;
}

.sanpham {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#panel1 {
    display: none;
}

#panel2 {
    display: none;
}

.thongke_panel {
    width: 100%;
}

.thongke_main {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.thongke {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff8080;
    border-radius: 5px;
    position: relative;
    padding: 20px 0px;
}

h2 {
    color: #a62c2c;
}

h3 {
    color: #a62c2c;
}

.thongke > .fa-solid {
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 20px;
}

.temp {
    width: 100px;
    height: 3px;
    background: rgba(255, 128, 128, 0.5);
    margin: 10px 0px;
}

#chart {
    background: rgba(255, 128, 128, 0.5);
    border-radius: 10px;
}

#canvas {
    width: 80%;
}



