<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Image/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="styles/styleHome.css">
    <link rel="stylesheet" href="styles/styleMenu.css">
    <link rel="stylesheet" href="styles/styleFooter.css">
    <link rel="stylesheet" href="styles/styleSlide.css">
    <link rel="stylesheet" href="styles/styleProduct.css">
    <title>Trang chủ</title>
</head>

<body>
    <div id="menu_container">
        <nav class="main_menu">
            <div class="menu">
                <a href="../View/index.html" class="logo">
                    <img src="../Image/BHD-nền trong suốt.svg" alt="404">
                    <h1>BHD Boutique</h1>
                </a>
                <div class="list_item">
                    <ul class="menu_item">
                        <li class="item">
                            <a href="index.html">Trang chủ</a>
                        </li>
                        <li class="item">
                            <a href="../View/allProductofCategory.html">Áo
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown ao_item">
                                <li class="item sub_item">
                                    <a href="">Áo thun</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Áo kiểu</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Áo sơ mi</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Áo croptop</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item">
                            <a href="">Áo khoác
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown aokhoac_item">
                                <li class="item sub_item">
                                    <a href="">Áo khoác gió</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Áo khoác len</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Blazer</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Áo khoác Jean/Kaki</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item">
                            <a href="">Quần
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown quan_item">
                                <li class="item sub_item">
                                    <a href="">Quần dài</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Quần ngắn</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item">
                            <a href="">Đầm
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown dam_item">
                                <li class="item sub_item">
                                    <a href="">Đầm kiểu</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Yếm đầm</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item">
                            <a href="">Váy
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown vay_item">
                                <li class="item sub_item">
                                    <a href="">Váy dài</a>
                                </li>
                                <li class="item sub_item">
                                    <a href="">Váy ngắn</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item">
                            <a href="">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="task">
                    <ul class="task_item">
                        <li class="logo_item">
                            <a href=""> <i class="fa-solid fa-magnifying-glass" style="color: #ff8080;"></i>
                            </a>
                        </li>
                        <li class="logo_item">
                            <a href="../View/indexLogin.html"><i class="fa-solid fa-user"
                                    style="color: #ff8080;"></i></a>
                        </li>
                        <li class="logo_item">
                            <a href="indexCart.html"><i class="fa-solid fa-cart-shopping" style="color: #ff8080;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="slider">
        <div>
          <img src="../Image/slide1.png" alt="">
          <img src="../Image/slide2.png" alt="">
          <img src="../Image/slide3.png" alt="">
          <img src="../Image/slide4.png" alt="">
          </div>
    </div>
    <div class="ProductArea">
        <div class="newProductArea">
            <h2 class="titleProduct"><span>MẶT HÀNG MỚI</span></h2>
            <div class="frame" id="frame">
                <ul class="listItemProduct" id="listNewItemProduct">
                    <!-- <li class="itemProduct">
                        <img src="../Image/Product/ÁO LEN AIMEE.jpg" alt="" class="imageProduct">
                        <a href="" class="linkProduct">ÁO LEN AIMEE</a>
                        <div class="evalute"><span>Đánh giá: <ul class="fiveStar">
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul></span></div>
                        <p class="priceProduct">290,000đ</p>
    
                    </li> -->
                </ul>
            </div>
            <a class="prevArea" id="prevArea"><i class="fa-regular fa-circle-left"></i></a>
            <a class="nextArea" id="nextArea"><i class="fa-regular fa-circle-right"></i></a>
        </div>
        <div class="ProductAreaOfShop Shirt">
            <h2 class="titleProduct"><span>Áo</span></h2>
            <a href="..View/shirt.html" class="seenAll">
                <h3>Xem tất cả</h3>
            </a>
            <ul class="listItemProduct" id="listShirtProduct">
                  
            </ul>
            <a class="prevArea" id="prevArea"><i class="fa-regular fa-circle-left"></i></a>
            <a class="nextArea" id="nextArea"><i class="fa-regular fa-circle-right"></i></a>
        </div>
        <div class="ProductAreaOfShop Jacket">
            <h2 class="titleProduct"><span>Áo khoác</span></h2>
            <a href="../View/jacket.html" class="seenAll">
                <h3>Xem tất cả</h3>
            </a>
            <ul class="listItemProduct" id="listJacketProduct">
                
                
            </ul>
            <a class="prevArea" id="prevArea"><i class="fa-regular fa-circle-left"></i></a>
            <a class="nextArea" id="nextArea"><i class="fa-regular fa-circle-right"></i></a>
        </div>
        <div class="ProductAreaOfShop Trousers">
            <h2 class="titleProduct"><span>Quần</span></h2>
            <a href="../View/shirt.html" class="seenAll">
                <h3>Xem tất cả</h3>
            </a>
            <ul class="listItemProduct" , id="listTrouserProduct">
                
            </ul>
            <a class="prevArea" id="prevArea"><i class="fa-regular fa-circle-left"></i></a>
            <a class="nextArea" id="nextArea"><i class="fa-regular fa-circle-right"></i></a>
        </div>
        <div class="ProductAreaOfShop LongSkirt">
            <h2 class="titleProduct"><span>Đầm</span></h2>
            <a href="../View/shirt.html" class="seenAll">
                <h3>Xem tất cả</h3>
            </a>
            <ul class="listItemProduct" id="listLongSkirtProduct">
                
                
            </ul>
            <a class="prevArea" id="prevArea"><i class="fa-regular fa-circle-left"></i></a>
            <a class="nextArea" id="nextArea"><i class="fa-regular fa-circle-right"></i></a>
        </div>
        <div class="ProductAreaOfShop Skirt">
            <h2 class="titleProduct"><span>Váy</span></h2>
            <a href="../View/shirt.html" class="seenAll">
                <h3>Xem tất cả</h3>
            </a>
            <ul class="listItemProduct" id="listSkirtProduct">
                
               
            </ul>
            <a class="prevArea" id="prevArea"><i class="fa-regular fa-circle-left"></i></a>
            <a class="nextArea" id="nextArea"><i class="fa-regular fa-circle-right"></i></a>
        </div>
    </div>

    <footer>
        <div class="contain">
            <div class="content">
                <div class="store">
                    <img src="../Image/BHD-nền trong suốt.svg" alt="">
                    <h1>BHD BOUTIQUE</h1>
                </div>
                <p class="text">Chúng tôi luôn trân trọng và mong đợi
                    nhận được mọi ý kiến đóng góp từ khách
                    hàng để có thể nâng cấp trải nghiệm dịch
                    vụ và sản phẩm tốt hơn nữa. </p>
                <a href="comment.html"><button class="idea-btn">Đóng góp ý kiến</button></a>
            </div>
            <div class="list-policy">
                <p class="policy-lb">Chính sách</p>
                <ul>
                    <li><a href="policy-7days.html">Chính sách đổi trả 7 ngày</a></li>
                    <li><a href="policy-sale.html">Chính sách khuyến mãi</a></li>
                    <li><a href="policy-security.html">Chính sách bảo mật</a></li>
                    <li><a href="policy-ship.html">Chính sách giao hàng</a></li>
                </ul>
                <div class="media">
                    <a href="https://www.facebook.com/Binh.PHHT/" target="_blank"><img src="../Image/fb.png"
                            alt="fb-icon"></a>
                    <a href="https://www.instagram.com/peace_bi.ht/" target="_blank"><img src="../Image/instagram.png"
                            alt="instagram-icon"></a>
                </div>
            </div>
            <div class="support">
                <div class="hotline">
                    <h5><i class="fa-sharp fa-solid fa-phone-volume"
                            style="color: #000000; max-width: 10px; margin-right: 10px;"></i>Hotline</h5>
                    <p>0908586584 - 0896435451
                        <br>(8:30 - 22:00)
                    </p>
                </div>
                <div class="address">
                    <h5><i class="fas fa-map-marker-alt"
                            style="color: #000000; max-width: 10px; margin-right: 7px;"></i>Địa chỉ
                    </h5>
                    <p>Khu phố 6, phường Linh Trung
                        <br>Thành phố Thủ Đức, Thành phố Hồ Chí Minh
                    </p>
                </div>
                <div class="mail">
                    <h5><i class="fas fa-envelope"
                            style="color: #000000; max-width: 10px; margin-right: 11px;"></i>Email</h5>
                    <p>bhdstore2023@gmail.com</p>
                </div>
            </div>
            <div class="image">
                <a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+N%C3%B4ng+L%C3%A2m+TP.+H%E1%BB%93+Ch%C3%AD+Minh/@10.8712817,106.7891868,17z/data=!3m1!4b1!4m6!3m5!1s0x3175276398969f7b:0x9672b7efd0893fc4!8m2!3d10.8712764!4d106.7917617!16s%2Fm%2F02q4yqq?hl=vi-VN&entry=ttu"
                    target="_blank"><img src="../Image/z4793086544750_3d5a24d390a654d6b14383f5afd1f044.jpg" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="/View/event/eventHome.js"></script>
</body>

</html>