<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../View/styles/styleAdmin.css">
    <link rel="stylesheet" href="../Image/fontawesome-free-6.4.2-web/css/all.min.css">
    <title>BHD-Admin</title>
</head>
<body>
<header class="logo">
    <img src="../Image/BHD-nền%20trong%20suốt.svg" alt="">
    <h3 style="font-family: 'Brush Script MT', cursive">BHD Boutique</h3>
</header>
<nav class="menu_bar">
    <div class="bar">
        <div class="logo_admin">
            <i class="fa-solid fa-lock" style="color: #ff8080;"></i>
            <h2>Admin</h2>
        </div>
        <div class="button_add_product">
            <a href="">
                <button><i class="fa-solid fa-plus" style="color: #ff8080;"></i>
                    Thêm sản phẩm
                </button>
            </a>
        </div>
        <div class="menu_nav">
            <ul class="menu">
                <li class="item">
                    <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                    Thống kê số liệu
                </li>
                <li class="item">
                    <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                    Quản lý sản phẩm
                </li>
                <li class="item">
                    <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                    Quản lý đơn hàng
                </li>
                <li class="item">
                    <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                    Quản lý người dùng
                </li>
                <li class="item">
                    <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                    Phản hồi người dùng
                </li>
                <li class="item">
                    <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                    Đổi mật khẩu
                </li>
            </ul>
        </div>
        <div class="button_logout">
            <a href="../View/indexLogin.html">
                <button><i class="fa-solid fa-right-from-bracket" style="color: #ff8080;"></i>
                    Đăng xuất
                </button>
            </a>
        </div>
    </div>
</nav>
</body>
</html>