<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../View/styles/styleAdmin.css">
    <link rel="stylesheet" href="../View/styles/styleAddProduct.css">
    <link rel="stylesheet" href="../Image/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="icon" href="../Image/BHD-html.png" type="image/x-icon">
    <title> Admin</title>
</head>

<body>
    <header class="logo">
        <img src="../Image/BHD-nền%20trong%20suốt.svg" alt="">
        <h3 style="font-family: 'Brush Script MT', cursive">BHD Boutique</h3>
    </header>
    <div class="center">
        <div class="left_panel">
            <nav class="menu_bar">
                <div class="bar">
                    <div class="logo_admin">
                        <i class="fa-solid fa-lock" style="color: #ff8080;"></i>
                        <h2>Admin</h2>
                    </div>
                    <div class="button_add_product">
                        <i class="fa-solid fa-plus" style="color: #ff8080;"></i>
                        Thêm sản phẩm
                    </div>
                    <div class="menu_nav">
                        <ul class="menu">
                            <a href="../View/index.html" style="text-decoration: none">
                                <li class="item">
                                    <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                                    Trang chủ
                                </li>
                            </a>
                            <li class="item">
                                <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                                Thống kê số liệu
                            </li>
                            <li class="item">
                                <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                                Quản lý sản phẩm
                            </li>
                            <li class="item">
                                <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                                Quản lý đơn hàng
                            </li>
                            <li class="item">
                                <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                                Quản lý người dùng
                            </li>
                            <li class="item">
                                <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                                Phản hồi người dùng
                            </li>
                            <a href="../View/indexChangePass.html" style="text-decoration: none">
                                <li class="item">
                                    <i class="fa-solid fa-circle" style="color: #ff8080;"></i>
                                    Đổi mật khẩu
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div class="button_logout">
                        <a href="../View/indexLogin.html">
                            <button><i class="fa-solid fa-right-from-bracket" style="color: #ff8080;"></i>
                                Đăng xuất
                            </button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="info_panel" class="info_panel">
            <div id="panel1" class="intro_panel">
                <h2 style="color: #a62c2c">Chào mừng bạn đã trở lại!</h2>
            </div>
            <div id="panel2" class="thongke_panel">
                <div class="thongke_main">
                    <div class="thongke doanhthu">
                        <i class="fa-solid fa-money-bills" style="color: #ff8080;"></i>
                        <h2>0</h2>
                        <span class="temp"></span>
                        <h3>VND</h3>
                    </div>
                    <div class="thongke">
                        <i class="fa-solid fa-cart-shopping" style="color: #ff8080;"></i>
                        <h2>0</h2>
                        <span class="temp"></span>
                        <h3>Sản phẩm đã bán</h3>
                    </div>
                    <div class="thongke">
                        <i class="fa-solid fa-user" style="color: #ff8080;"></i>
                        <h2>0</h2>
                        <span class="temp"></span>
                        <h3>Người đăng ký</h3>
                    </div>
                    <div class="thongke">
                        <i class="fa-solid fa-eye" style="color: #ff8080;"></i>
                        <h2>0</h2>
                        <span class="temp"></span>
                        <h3>Người truy cập</h3>
                    </div>
                </div>
            </div>
            <div id="panel3">
                <div class="seach_customer">
                    <form action="" id="form_search">
                        <div class="head">
                            <div class="search">
                                <input type="text" class="input" placeholder="Tìm kiếm theo tên">
                                <button class="btn_search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                            <div class="filter">
                                <i class="fa-solid fa-filter"></i>
                                <select name="filter-select" id="filter-select">
                                    <option value="alphabet">Sắp xếp theo tên người dùng</option>
                                    <option value="alphabet">Sắp xếp theo số lượng sản phẩm mua</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
                <div id="info_customer">
                    <div class="main_label">
                        <table id="table">
                            <thead>
                                <tr>
                                    <th class="label">Tên khách hàng</th>
                                    <th class="label">Số điện thoại</th>
                                    <th class="label">Email</th>
                                    <th class="label">Địa chỉ</th>
                                    <th class="label">Số lượng sản phẩm đã mua</th>
                                    <th class="label">Khóa tài khoản</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Chức năng thêm sản phẩm -->
            <div class="container-add-product" id="panel4">
                <div class="label">
                    <p>Thêm sản phẩm</p>
                </div>
                <div class="add-product-here">
                    <div class="pictures">
                        <input type="file" id="imageUpload1" name="image1" accept="image/*" onchange="previewImage(1)">
                        <div id="imagePreview1"></div>
                    </div>
                    <div class="pictures">
                        <input type="file" id="imageUpload2" name="image2" accept="image/*" onchange="previewImage(2)">
                        <div id="imagePreview2"></div>
                    </div>
                    <div class="pictures">
                        <input type="file" id="imageUpload3" name="image3" accept="image/*" onchange="previewImage(3)">
                        <div id="imagePreview3"></div>
                    </div>
                    <div class="pictures">
                        <input type="file" id="imageUpload4" name="image4" accept="image/*" onchange="previewImage(4)">
                        <div id="imagePreview4"></div>
                    </div>
                </div>
                <div class="info-of-product">
                    <div class="name-product">
                        <input type="text" name="name-pro" placeholder="Thêm tên sản phẩm">
                    </div>
                    <div class="price-product">
                        <input type="text" name="price-pro" placeholder="Thêm giá sản phẩm">
                    </div>
                    <div class="type-product">
                        <input type="text" name="name-pro" placeholder="Thêm loại sản phẩm">
                    </div>
                </div>
                <div class="describe">
                    <textarea placeholder="Mô tả sản phẩm..." required></textarea>
                </div>
                <div class="footer-container">
                    <button>Thêm sản phẩm</button>
                </div>
            </div>
            <!-- Trên là đoạn code mới nhất -->
            <div class="order-management" id="panel5">
                <div class="main_label">
                    <table id="table2">
                        <thead>
                            <tr>
                                <th class="label">Tên sản phẩm</th>
                                <th class="label">Giá</th>
                                <th class="label">Số lượng</th>
                                <th class="label">Tổng tiền</th>
                                <th class="label">Trạng thái</th>
                                <th class="label">Duyệt đơn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Áo thun</td>
                                <td>200000</td>
                                <td>3</td>
                                <td>600000</td>
                                <td>Chưa thanh toán</td>
                                <td><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>Quần dài</td>
                                <td>320000</td>
                                <td>1</td>
                                <td>320000</td>
                                <td>Đã Thanh Toán</td>
                                <td><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>Áo len</td>
                                <td>200000</td>
                                <td>2</td>
                                <td>400000</td>
                                <td>Chưa thanh toán</td>
                                <td><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="panel6" class="product">
                <div class="select_product">
                    <div class="label_danhmuc">
                        <h2>Danh mục</h2>
                    </div>
                    <ul class="danhmuc">
                        <li>Áo
                            <ul class="submenu">
                                <li>Áo thun</li>
                                <li>Áo kiểu</li>
                                <li>Áo sơ mi</li>
                                <li>Áo croptop</li>
                            </ul>
                        </li>
                        <li>Áo khoác
                            <ul class="submenu">
                                <li>Áo khoác gió</li>
                                <li>Áo khoác len</li>
                                <li>Blazer</li>
                                <li>Áo khoác Jean/Kaki</li>
                            </ul>
                        </li>
                        <li>Quần
                            <ul class="submenu">
                                <li>Quần dài</li>
                                <li>Quần ngắn</li>
                            </ul>
                        </li>
                        <li>Đầm
                            <ul class="submenu">
                                <li>Đầm kiểu</li>
                                <li>Yếm đầm</li>
                            </ul>
                        </li>
                        <li>Váy
                            <ul class="submenu">
                                <li>Váy dài</li>
                                <li>Váy ngắn</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="../View/event/data.js"></script>
            <script src="../View/event/eventAdmin.js"></script>
            <script src="../View/event/eventAddProduct.js"></script>
        </div>
</body>

</html>