<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="styles/styleCart.css">
    <title>Giỏ hàng</title>
</head>

<body>
    <div class="logo">
        <a href="index.html">
            <img src="../Image/BHD-nền trong suốt.svg" alt="404">
            <h1>BHD Boutique</h1>
        </a>
    </div>
    <div id="container_title">
        <div class="title">
            <h2>Giỏ hàng của bạn</h2>
            <p>Có 0 sản phẩm trong giỏ hàng</p>
            <div class="temp"></div>
        </div>
        <div class="cart_empty">
            <div class="empty">
                <h3>Giỏ hàng của bạn đang trống</h3>
            </div>
            <div class="form_thanhtoan">
                <form action="" id="form">
                    <div class="title_thongtin">
                        <h3>Thông tin đơn hàng</h3>
                    </div>
                    <div class="title_tongtien">
                        <h4>Tổng tiền:</h4>
                        <h3>0đ</h3>
                    </div>
                    <div class="ghichu">
                        <p>Phí vận chuyển sẽ được tính ở trang thanh toán.
                            <br> Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                        </p>
                    </div>
                    <div class="button_thanhtoan">
                        <input type="button" value="Thanh toán">
                    </div>
                    <div class="ttmuahang">
                        <a href="index.html">
                            <i class="fa-solid fa-arrow-left" style="color: #ff8080;"></i>
                            Tiếp tục mua hàng</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="hotro">
        <i class="fa-solid fa-phone" style="color: #ff8080;"></i>
        <p>Hỗ trợ / Mua hàng: 0901323070</p>
    </div>
</body>

</html>