* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background: linear-gradient(90deg, rgba(255, 177, 161, 0.5), rgba(255, 153, 153, 0.5));
  width: 100%;
  height: 250px;
}
.contain {
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  width: 30%;
}

.content .store {
  display: flex;
}

.content .store img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

h1 {
  margin: 8px 0px 10px 10px;
}

.text {
  font-size: 15px;
  margin-bottom: 20px;
}

.idea-btn {
  border-radius: 20px;
  background-color: rgba(232, 117, 95, 0.5);
  color: white;
  border: none;
  width: 130px;
  height: 40px;
}

.content .media {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.content .media img {
  max-width: 20px;
  margin-right: 20px;
}

.list-policy {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  width: 15%;
}

.policy-lb {
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

footer .list-policy ul li {
  list-style: none;
  line-height: 2;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.support {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  width: 30%;
}
footer .support div {
  margin: 0px 10px 10px;
}

h5 {
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

.support p {
  font-size: 15px;
}

.image {
margin: 25px;
}

.image img {
  max-width: 200px;
  border-radius: 10px;
  margin: 15px 0px;
}