<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../View/styleWeb/styleForgetPass.css">
  <link rel="stylesheet" href="../Image/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="styleWeb/styleFooter.css">
  <link rel="icon" href="../Image/logo/BHD-html.png" type="image/x-icon">
  <script src="JSWeb/addPart.js"></script>
  <title>Quên mật khẩu</title>
</head>

<body>
  <div id="container">
    <div class="header">
      <p>Quên mật khẩu</p>
      <span>
        <i class="fa-regular fa-circle-xmark" style="color: #ff8080;"></i>
      </span>
    </div>
    <form action="" class="form">
      <div class="center">
        <input type="email" id="email" placeholder="Email">
      </div>
      <div class="button">
        <a><input type="button" value="khôi phục"></a>
      </div>
    </form>
    <div class="footer">
      <p>Bạn đã nhớ mật khẩu?</p>
      <a href="indexLogin.jsp">Trở về đăng nhập</a>
    </div>
  </div>
  <script> document.body.innerHTML += addFooter()</script>
</body>

</html>