<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Image/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="styleWeb/styleFooter.css">
    <link rel="stylesheet" href="../View/styleWeb/styleHeader.css">
    <link rel="stylesheet" href="../View/styleWeb/color.css">
    <link rel="icon" href="../Image/logo/BHD-html.png" type="image/x-icon">
    <script src="JSWeb/code.jquery.com_jquery-3.7.1.min.js"></script>
    <script src="JSWeb/slick.min.js"></script>
    <script src="JSWeb/addPart.js"></script>
    <script src="JSWeb/JSHome.js"></script>
    <script src="JSWeb/slideShow.js"></script>
    <title>Trang chủ</title>
</head>

<body>
    <header>
        <div class="firstArea">
            <div class="logo_search_cart">
                <div class="logo">
                    <img src="../Image/logo/BHD-nền trong suốt.svg" alt="404">
                    <h1>BHD Boutique</h1>
                </div>
                <div class="search_Category">
                    <form class="Search">
                        <input type="text" class="input_search" placeholder="Nhập sản phẩm cần tìm">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <a href="" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="../View/indexLogin.html" class="user"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
        <div class="menu_container">
            <div class="task_menu">
                <button class="btn_Category_search" id="btn_Category_search">
                    <span>
                        Danh mục
                    </span>
                    <i class="fa-solid fa-angle-down"></i>
                    <ul class="menu_Category" id="menu_Category">
                        <a>
                            <li class="menu_Category_Item">Tất cả sản phẩm</li>
                        </a>
                        <a>
                            <li class="menu_Category_Item">Áo</li>
                        </a>
                        <a>
                            <li class="menu_Category_Item">Áo khoác</li>
                        </a>
                        <a>
                            <li class="menu_Category_Item">Quần</li>
                        </a>
                        <a>
                            <li class="menu_Category_Item">Đầm</li>
                        </a>
                        <a>
                            <li class="menu_Category_Item">Váy</li>
                        </a>
                    </ul>
                </button>
                <ul class="Menupage">
                    <a href="index.html" class="linkpage Home">
                        <li class="Item_menuPage">Trang chủ</li>
                    </a>
                    <a href="" class="linkpage Shop">
                        <li class="Item_menuPage ">Cửa hàng</li>
                    </a>
                    <a href="collection.html" class="linkpage Collection">
                        <li class="Item_menuPage ">Bộ sưu tập</li>
                    </a>
                    <a href="#" class="linkpage Contact" id="Contact">
                        <li class="Item_menuPage" id="Contact_Us">Liên hệ</li>
                    </a>
                    <a href="" class="linkpage Fashion">
                        <li class="Item_menuPage">Xu hướng thời trang</li>
                    </a>
                    <a href="../View/comment.html" class="linkpage Comment">
                        <li class="Item_menuPage">Đóng góp ý kiến</li>
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <div class="SliderShow_Store">
        <div class="SlideList">
            <img src="../Image/SlideStore/slide3.png" alt="">
            <img src="../Image/SlideStore/slide2.png" alt="">
            <img src="../Image/SlideStore/slide4.png" alt="">
            <img src="../Image/SlideStore/slide1.png" alt="">
        </div>
    </div>
    <div class="CategoryCard">
        <a href="">
            <div class="CategoryItem T-Shirt">
                <div class="TitleCategory"><span>Áo</span></div>
            </div>
        </a>

        <a href="">
            <div class="CategoryItem Jacket">
                <div class="TitleCategory"><span>Áo Khoác</span></div>
            </div>
        </a>

        <a href="">
            <div class="CategoryItem Trouser">
                <div class="TitleCategory"><span>Quần</span></div>
            </div>
        </a>

        <a href="">
            <div class="CategoryItem Dress">
                <div class="TitleCategory"><span>Đầm</span></div>
            </div>
        </a>

        <a href="">
            <div class="CategoryItem Skirt">
                <div class="TitleCategory"><span>Váy</span></div>
            </div>
        </a>
    </div>
    <div class="Top10 NewProductOfStore">
        <div class="Filter_ProductSilde">
            <span>Sản phẩm mới</span>
            <div class="SliderShow_Product">
                <div class="SlideListProduct">
                    <img src="../Image/Product/Áo kiểu Amory.png" alt="">
                    <img src="../Image/Product/Quần dài Foris.png" alt="">
                    <img src="../Image/Product/Quần Garo.jpg" alt="">
                    <img src="../Image/Product/Quần Dài Doris (2).jpg" alt="">
                    <img src="../Image/Product/ÁO KHOÁC KASEY.jpg" alt="">
                    <img src="../Image/Product/ÁO KHOÁC HENNA.jpg" alt="">
                    <img src="../Image/Product/Đầm hai dây pamela (2).jpg" alt="">
                    <img src="../Image/Product/Váy Dài Arisha.png" alt="">
                    <img src="../Image/Product/VÁY NGẮN VALERIE.jpg" alt="">
                    <img src="../Image/Product/Váy dài Belle.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <div class="Top10 OfCategory">
        <span>Sản phẩm bán chạy</span>
        <div class="Top10 T-ShirtOfStore">
            <div class="Filter_ProductSilde">
                <span>Áo</span>
                <div class="SliderShow_Product">
                    <div class="SlideListProduct">
                        <img src="../Image/ProductAreaOfShop Shirt/mickey.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/simple.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/ready to wear.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/strawberry.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/Áo Ana Luna puff (3).jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/ÁO CROPTOP ANYA.png" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/Áo croptop button.png" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/Áo Dài Beta.png" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/Áo Gile Pia.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Shirt/Sunset flow.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="Top10 TrouserOfStore">
            <div class="Filter_ProductSilde">
                <span>Quần</span>
                <div class="SliderShow_Product">
                    <div class="SlideListProduct">
                        <img src="../Image/ProductAreaOfShop Trousers/quần Clerk.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/Quần Dài Cline.png" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/Quần Dài Doris (3).jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/Quần dài Genna (1).jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/Quần dài Luzi.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/QUẦN Dài DAHLIA.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/Quần dài ryan (5).jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/quần gwen.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/Quần Dài Anisa.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Trousers/quần Erica.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="Top10 JacketOfStore">
            <div class="Filter_ProductSilde">
                <span>Áo khoác</span>
                <div class="SliderShow_Product">
                    <div class="SlideListProduct">
                        <img src="../Image/ProductAreaOfShop Jacket/Áo Gile Alisa (2).jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/Áo Gile Len.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/ÁO HOODIE SISTERHOOD.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/ÁO LEN AIMEE.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/ÁO KHOÁC ISABEL.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/Áo len lyzia.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/Áo Len Yasmin.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/Áo khoát kirby.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/ÁO KHOÁC ZIEL.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Jacket/ÁO HOODIE JOILE FLEUR.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="Top10 DressOfStore">
            <div class="Filter_ProductSilde">
                <span>Đầm</span>
                <div class="SliderShow_Product">
                    <div class="SlideListProduct">
                        <img src="../Image/ProductAreaOfShop Dress/ĐẦM ALINA.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/ĐẦM ASHLY.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/Đầm Barbara.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/ĐẦM BETTY.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/ĐẦM CELINE.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/Đầm dây jelly.png" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/Đầm hai dây Pamela.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/Đầm Soozy (2).jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/Đầm Riley.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Dress/Đầm Julia.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="Top10 DressOfStore">
            <div class="Filter_ProductSilde">
                <span>Váy</span>
                <div class="SliderShow_Product">
                    <div class="SlideListProduct">
                        <img src="../Image/ProductAreaOfShop Skirt/CHÂN VÁY AMANDA.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/CHÂN VÁY JOCELYN.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/Váy dài Belle.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/Váy dài Elin.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/Váy dài nona.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/Váy ngắn Rosa.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/VÁY NGẮN MORRIS.jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/Váy Ngắn Nora (2).jpg" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/vÁY NGẮN Vaella.png" alt="">
                        <img src="../Image/ProductAreaOfShop Skirt/VÁY NGẮN VALERIE.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.body.innerHTML += addFooter();
    </script>
</body>

</html>