@media screen and (min-width: 1025px) {
  .container-add-product {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #a62c2c;
  }

  .container-add-product .label {
    margin: 10px;
    padding: 10px;
    border: 1px solid #a62c2c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #a62c2c;
  }

  .container-add-product .add-product-here {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container-add-product .add-product-here .pictures {
    width: 13vw;
    height: 40vh;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #a62c2c;
  }

  .container-add-product .info-of-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container-add-product .info-of-product input {
    width: 18vw;
    height: 8vh;
    border-radius: 5px;
    border: 1px solid #a62c2c;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
  }

  .container-add-product .describe {
    background: rgba(251, 192, 195, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

  .container-add-product .describe textarea {
    width: 100%;
    height: 59px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-color: #bfbfbf;
    font-size: 18px;
  }

  .container-add-product .describe textarea:is(:focus, :valid) {
    border-width: 2px;
    padding: 14px;
  }

  .container-add-product .describe textarea::-webkit-scrollbar {
    width: 0px;
  }

  .container-add-product .footer-container {
    display: flex;
    justify-content: center;
    margin: 10px 10px 20px 10px;
  }

  .container-add-product .footer-container button {
    width: 180px;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background-color: rgba(251, 192, 195, 0.8);
  }

  .container-add-product .footer-container button:hover {
    background-color: #a62c2c;
    color: white;
  }
}