* {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(198, 225, 246, 0.5), rgba(251, 214, 227, 0.5));
    position: relative;
}

.logo {
    background: rgb(251, 192, 195);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ff8080;
    cursor: pointer;
    position: fixed;
    width: 100%;
}

.logo > img {
    width: 100px;
    height: 100px;
}

.logo > h3 {
    color: #a62c2c;
    font-size: 30px;
}

.center .left_panel .menu_bar .bar {
    display: flex;
    flex-direction: column;
    background: rgba(251, 192, 195, 0.8);
    width: 20%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ff8080;
    border-bottom: 2px solid #ff8080;
    position: fixed;
    top: 14%;
}

.center .left_panel .menu_bar .bar .logo_admin {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    border-radius: 50%;
    justify-content: center;
}

.center .left_panel .menu_bar .bar a > button,   .button_add_product {
    padding: 10px;
    border-radius: 20px;
    background-color: #a62c2c;
    color: white;
    border: 2px solid #a62c2c;
    margin: 10px 0px;
    cursor: pointer;
}

.center .left_panel .menu_bar .bar .button_add_product:hover {
    color: #ff8080;
}

.center .left_panel .menu_bar .bar .menu_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center .left_panel .menu_bar .bar .menu_nav .menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 15px 0px;
}

.center .left_panel .menu_bar .bar .menu_nav .menu .item {
    color: #a62c2c;
    padding: 15px;
    border-top: 1px solid #ff8080;
    cursor: pointer;
}

.center .left_panel .menu_bar .bar .menu_nav .menu .item > a {
    color: #a62c2c;
    text-decoration: none;
}

.center .left_panel .menu_bar .bar .menu_nav .menu .item:hover {
    border: 2px solid #a62c2c;
    border-radius: 20px;
    color: white !important;
    background-color: #a62c2c;
}

.bar .menu_nav .menu .item.active {
    border: 2px solid #a62c2c;
    border-radius: 20px;
    color: white !important;
    background-color: #a62c2c;
}

/* .center .left_panel .menu_bar .bar .button_logout {
    margin-bottom: 100%;
} */

/* .center {
    display: flex;
} */

/* .left_panel {
    width: 18%;
} */

.center .info_panel {
    width: 82%;
    display: flex;
    padding: 30px;
    justify-content: center;
    margin-top: 10%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;

}
/* Xong phần khung trang admin */


