<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleLogin.css">
    <link rel="stylesheet" href="/WebsiteOfBHD/View/icon/fontawesome-free-6.4.2-web/css/all.min.css">
    <title>BHD</title>
</head>

<body>
    <div class="content">
        <div class="SignIn_Area">
            <form action="" class="formSignIn">
                <h1 class="titleSignIn">Đăng nhập</h1>
                <div class="NameAcc">
                    <label for="inputNumPhone" class="label">Số điện thoại:</label>
                    <input type="text" id="inputNumPhone" placeholder="Nhập số điện thoại">
                </div>
                <div class="passAcc">
                    <label for="inputPass" class="label">Mật khẩu:</label>
                    <div class="passplace">
                        <input type="password" id="inputPass" placeholder="Nhập mật khẩu">
                        <i class="fa-regular fa-eye"></i>
                    </div>
                    <div class="remember">
                        <input type="checkbox" id="check">
                        <label for="check">Ghi nhớ mật khẩu</label>
                    </div>
                    <a href="" class="forgotPass">Quên mật khẩu?</a>
                </div>
    
                <div class="buttonSubmit">
                    <input type="button" class="button" value="Đăng nhập">
                </div>
                <div class="create">
                    <a href="" class="createAcc">Tạo tài khoản mới</a>
                </div>
            </form>
        </div>
        <div class="SignUp_Area">
            
        </div>
    </div>
</body>

</html>