<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleMenu.css">
    <title>BHD</title>
</head>
<body>
<div id="menu_container">
    <nav class="main_menu">
        <div class="menu">
            <div class="logo">
                <img src="/WebsiteOfBHD/Image/logo.svg" alt="404">
            </div>
            <ul class="menu_item">
                <li class="item">
                    Trang chủ
                    <a href=""></a>
                </li>
                <li class="item">
                    Áo
                    <a href=""></a>
                </li>
                <li class="item">
                    Áo khoác
                    <a href=""></a>
                </li>
                <li class="item">
                    Quần
                    <a href=""></a>
                </li>
                <li class="item">
                    Đầm
                    <a href=""></a>
                </li>
                <li class="item">
                    Váy
                    <a href=""></a>
                </li>
                <li class="item">
                    Liên hệ
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>