<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleMenu.css">
    <link rel="stylesheet" href="/WebsiteOfBHD/Image/fontawesome-free-6.4.2-web/css/all.min.css">
    <title>BHD</title>
</head>
<body>
<div id="menu_container">
    <nav class="main_menu">
        <div class="menu">
            <div class="logo">
                <img src="/WebsiteOfBHD/Image/logo.svg" alt="404">
            </div>
            <div class="list_item">
                <ul class="menu_item">
                    <li class="item">
                        <a href="">Trang chủ</a>
                    </li>
                    <li class="item">
                        <a href="">Áo</a>
                    </li>
                    <li class="item">
                        <a href="">Áo khoác</a>
                    </li>
                    <li class="item">
                        <a href="">Quần</a>
                    </li>
                    <li class="item">
                        <a href="">Đầm</a>
                    </li>
                    <li class="item">
                        <a href="">Váy</a>
                    </li>
                    <li class="item">
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="task">
                <ul class="task_item">
                    <li class="logo_item">
                        <a href=""> <i class="fa-solid fa-magnifying-glass" style="color: #ff8080;"></i>
                        </a>
                    </li>
                    <li class="logo_item">
                        <a href=""><i class="fa-solid fa-user" style="color: #ff8080;"></i></a>
                    </li>
                    <li class="logo_item">
                        <a href=""><i class="fa-solid fa-cart-shopping" style="color: #ff8080;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>